<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script src="../js/jquery3.3.1.min.js"></script>
    <script src="../js/vue3.js"></script>
    <script src="../vue/axios.min.js"></script>
</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">演示</a>
                <a>
                    <cite>导航元素</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div id="container" class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">

                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" class="layui-input" id="test25" placeholder="开始日">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" class="layui-input" id="test26" placeholder="截止日">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select id="contrller">
                                <option value="0">订单状态</option>
                                <option value="4">所有订单</option>
                                <option value="1">未发货</option>
                                <option value="2">已发货</option>
                                <option value="3">已取消</option>
                            </select>
                        </div>
                        <div class="layui-input-inline ">
                            <button class="layui-btn" type="button"  @click="getorderBydate()">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                        <div class="layui-input-inline ">
                            <input id="inchange" v-model="changeinput" type="text" name="username"
                                   placeholder="请输入订单编号查询" class="layui-input"></div>
                    </form>
                </div>
                <!--开始导航功能条部分-->
                <div class="layui-card-header">

                    <button class="layui-btn" onclick="window.location.reload()">
                        <i class="layui-icon"></i>所有订单
                    </button>
                    <button class="layui-btn" @click="deliveried(1)">
                        <i class="layui-icon"></i>未发货
                    </button>
                    <button class="layui-btn" @click="deliveried(2)">
                        <i class="layui-icon"></i>已发货
                    </button>
                    <button class="layui-btn" @click="deliveried(3)">
                        <i class="layui-icon"></i>我的退单
                    </button>
                </div>
                <!--结束导航功能条部分-->
                <!--开始未发货表格页面-->
                <div class="layui-card-body ">
                    <table class="layui-table" lay-filter="test1">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>订单编号</th>
                            <th>用户编号</th>
                            <th>收货人手机号</th>
                            <th>收货人姓名</th>
                            <th>收货人地址</th>
                            <th>创建日期</th>
                            <th>订单金额</th>
                            <th>订单状态</th>

                        </thead>
                        <tbody>
                        <tr v-for="(t,index) in orders">
                            <td>{{(cpage-1)*10+index+1}}</td>
                            <td>{{t.oid}}</td>
                            <td>{{t.uno}}</td>
                            <td>{{t.ophone}}</td>
                            <td>{{t.oname}}</td>
                            <td>{{t.oaddress}}</td>
                            <td>{{t.ocreatTime}}</td>
                            <td>{{t.ocost}}</td>
                            <td>
                                <span v-if="t.ostatus==1">未发货</span>
                                <span v-if="t.ostatus==2">已发货</span>
                                <span v-if="t.ostatus==3">已退单</span>
                            </td>
                            <!--这种定义全局变量适用于得到遍历的数据状态统一的情况，如果不统一则会按最后一个赋给的值显示，
                            如果最后一个给的值是已发货，全局变量最终的值是已发货，则前端显示全部都是已发货
                            要实现的效果： 判断status==1 -> shipstatus="未发货"
                                              status==2 -> shipstatus="已发货"
                                              status==3 -> shipstatus="已退单"
                                          -->
                            <td class="td-manage">
                                <a title="查看" onclick="xadmin.open('编辑','order-view.html')" href="javascript:;">
                                    <i class="layui-icon">&#xe63c;</i></a>
                                <div name="statusDiv" v-if="t.ostatus==2">
                                    <button name="status" class="layui-btn" @click="showlogInfo(t.oid)">
                                        <i class="layui-icon"></i>查看物流
                                    </button>
                                </div>
                            </td>
                            </p>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!--结束未发货表格页面-->

                <!--开始切换上下页代码块-->
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <a @click="go(1)">首页</a>
                            <a @click="go(2)" href="javascript:">上一页</a>
                            <a @click="go(3)" href="javascript:">下一页</a>
                            <a @click="go(4)" href="javascript:">末页</a>
                            <a class="num" href="javascipt:">{{cpage}}/{{tpage}}</a>
                        </div>
                    </div>
                </div>
                <!--结束切换上下页代码-->
            </div>
        </div>
    </div>

    <!--开始展示物流信息-->
    <div id="logiformInfo" style="display:none;width:400px;height:300px;">
        <form class="layui-form" v-for="mm in logistics" style="margin-top: 40px;">
            <div class="layui-form-item" style="margin-top: 20px;">
                <span  style="width: 200px; font-size: 20px;">收货人: {{mm.oname}}</span>
            </div>
            <div class="layui-form-item" style="margin-top: 20px;">
                <span  style="width: 200px; font-size: 20px;">物流单号: {{mm.loginum}}</span>
            </div>
            <div class="layui-form-item" style="margin-top: 20px;">
            <span  style="width: 200px; font-size: 20px;">物流公司:{{mm.loginame}}
                </span>
            </div>
            <div class="layui-form-item" style="margin-top: 20px;">
                <span  style="width: 200px; font-size: 20px;">发货时间:{{mm.logdate}}</span>
            </div>
        </form>
    </div>
    <!--结束展示物流信息-->
</div>
<!--container结束-->
</body>

<script>
    /*
* 订单相关信息vue代码块
* */
    const app = {
        //vue中定义变量的地方
        data() {
            console.log("订单数据加载事件")
            return {
                changeinput: '',
                valueinput: null,
                pageInfo: null,
                orders: null,//订单信息
                cpage: null,
                tpage: null,
                v: null,
                status: null,
                globalstartdate:null,
                globalenddate:null,
                logtypes:null,//物流类型
                logistics:null,//物流信息
               thisuno:null//当前用户的uno

            }
        },
        //监听事件
        watch: {
            // 每当改变时，此功能将运行
            changeinput(newchangeinput, oldchangeinput) {
                console.log("new的值" + newchangeinput.value);
                console.log("oid的值" + oldchangeinput.value);
                if (newchangeinput.length != oldchangeinput.length || newchangeinput.value != oldchangeinput.value) {
                    this.getAnswer()
                }

            }
        },
        //定义方法
        methods: {
            /*
            * 模糊查询根据全局的日期，不会造成查询时间上的冲突
            * 单独点击未发货，已发货，退单信息都会重置时间范围为null,
            * 后端则会根据时间值判断是否要加入时间范围的条件，为null表示查所有时间
            * */
            getAnswer() {
                var _self = this;
                console.log("有变化");
                var valueinput = document.getElementById("inchange").value;
                console.log(_self.valueinput);
                console.log("触发模糊查询globalstartdate:"+_self.globalstartdate+" "+
                    "globalenddate:"+_self.globalenddate);
                $.post(
                    "/getorderBydate",
                    {"page": _self.page,
                        "status": _self.status==0?1:_self.status,
                        "vauleinput": valueinput,
                        "startdate":_self.globalstartdate,
                        "enddate":_self.globalenddate,
                     "uno":_self.thisuno},
                    function (res) {
                        _self.pageInfo = res;
                        _self.orders = res.list;
                        _self.cpage = res.pageNum;
                        _self.tpage = res.pages;
                        console.log("监听时间查询的响应订单:"+_self.orders );
                    }
                );
            },
            //根据时间范围查询
            getorderBydate(){
                console.log("getorderBydate");
                var _self=this;
                var startdate=document.getElementById("test25").value;
                console.log("时间范围查询开始的日期statdate："+startdate);
                var enddate=document.getElementById("test26").value;
                console.log("时间范围查询截止的日期enddate:"+enddate);
                var selectstatus=document.getElementById("contrller").value;
                console.log("选择的状态为："+selectstatus);
                console.log("当前页为：page"+_self.cpage);
                if(selectstatus!=0){
                    _self.status=selectstatus;
                }else{
                    _self.status=1;
                }
                /*每一次状态修改都会改变全局状态的值，全局变量的状态便于多选择查询，以及翻页，
                * 选择订单状态为0时，默认查未发货，则全局状态设置成1，请求状态参数设置为1
                * 以保证翻页在当前状态下（翻页是根据全局状态的值请求翻页数据的），*/
                console.log("当前订单状态为："+_self.status)
                //固定在当前订单状态
                $.post(
                    "/getorderBydate",
                    {"page":_self.cpage,
                        "status":selectstatus==0?1:selectstatus,
                        "startdate":startdate,
                        "enddate":enddate,
                        "uno":_self.thisuno
                    },
                    function (res) {
                        if (res == null) {
                            confirm("查无当前日期范围的订单！");
                            window.location.reload();
                        } else {
                            _self.pageInfo = res;
                            _self.orders = res.list;
                            _self.cpage = res.pageNum;
                            _self.tpage = res.pages;
                            console.log("时间范围响应的订单内容："+_self.orders);

                        }
                    }
                )
            },
            //查询已发货订单
            deliveried(ostatus) {
                var _self = this;
                _self.globalstartdate=null;//重置全局开始时间，避免翻页带入时间
                _self.globalenddate=null;//重置全局结束时间，避免翻页带入时间
                $.post(
                    "/usergetorders",
                    {"page": 1, "status": ostatus},
                    function (res) {
                        if (res == null) {
                            layer.msg("当前无已发货订单");
                        } else {
                            _self.pageInfo = res;
                            _self.orders = res.list;
                            _self.cpage = res.pageNum;
                            _self.tpage = res.pages;
                            _self.status=ostatus;
                            console.log("已发货响应的订单内容："+_self.orders);

                        }
                    }
                );
            },
            /*
            *查询物流信息
            * */
            showlogInfo(oid) {
                var _self=this;
                $.post(
                    "/getlogInfo",
                    {"oId":oid},
                    function (res) {
                        _self.logistics=res;
                        if(_self.logistics!=null){
                            layer.open({
                                type:1,
                                content: $("#logiformInfo"),
                                area:['420px','420px']
                            })
                        }else {
                            layer.msg("查询出错，未知异常");
                        }
                    }
                )

                layer.msg("已发货");
            },

            del(id) {

            },
            go(num) {
                var _seft = this;
                var startdate=document.getElementById("test25").value;
                console.log("时间范围查询开始的日期statdate："+startdate);
                var enddate=document.getElementById("test26").value;
                console.log("时间范围查询截止的日期enddate:"+enddate);
                let page;
                console.log("触发下一页请求的状态标志：status"+_seft.status);
                console.log("当前操作页数功能num:"+num);
                switch (num) {
                    case 1:
                        page = 1;
                        break;
                    case 2:
                        page = _seft.pageInfo.isFirstPage ? 1 : _seft.pageInfo.prePage;
                        break;
                    case 3:
                        page = _seft.pageInfo.isLastPage ? _seft.pageInfo.LastPage : _seft.pageInfo.nextPage;
                        break;
                    case 4:
                        page = _seft.pageInfo.pages;
                        break;
                }
                $.post(
                    "/getorderBydate",
                    {"page": page,
                        "status": _seft.status,
                        "startdate":startdate,
                        "enddate":enddate,
                        "uno":_seft.thisuno},
                    function (res) {
                        _seft.pageInfo = res;
                        _seft.orders = res.list;
                        _seft.cpage = res.pageNum;
                        _seft.tpage = res.pages;
                        console.log("页面切换响应的对应订单内容："+_seft.orders);

                    }
                )
            }
        },
        /*
        * 调用usergetorders通过后端得到用户编号，
        * */
        //加载改用户所有订单
        mounted: function () {
            //用_self表示app
            var _self = this;
            _self.globalstartdate=null;//重置全局开始时间，避免翻页带入时间
            _self.globalenddate=null;//重置全局结束时间，避免翻页带入时间
            console.log("订单加载事件")
            //加载商品信息--pageInfo
            $.post(
                "/usergetorders",
                {"page": _self.page, "status":4},
                function (res) {
                    _self.pageInfo = res;
                    _self.orders = res.list;
                    _self.cpage = res.pageNum;
                    _self.tpage = res.pages;
                    _self.status=4;
                    _self.thisuno=_self.orders&&_self.orders[0].uno;
                    console.log("加载事件响应的订单内容："+_self.orders);
                    console.log("加载订单的当前用户uno:"+_self.thisuno);

                }
            );
            $.post(
                "/getallLogtype",
                function (res) {
                    _self.logtypes=res;
                    console.log("加载获得的物流类型信息"+_self.logtypes)
                }
            );
        }
    }
    const vue = Vue.createApp(app);
    vue.mount("#container");
</script>
<script>
    layui.use(['table', 'form','laydate'], function () {
        var laydate=layui.laydate;
        //点我触发
        laydate.render({
            elem: '#test25'
            ,eventElem: '#test25-1'
            ,trigger: 'click'
        });
        laydate.render({
            elem: '#test26'
            ,eventElem: '#test25-1'
            ,trigger: 'click'
        });
        /*渲染表单*/
        var table = layui.table;
        table.render();
        table.render('checkbox', 'test1');
        var form = layui.form;
        form.render();


    })

</script>

</html>