<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script src="../js/jquery3.3.1.min.js"></script>
    <script src="../js/vue3.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>-->

</head>

<body>
<div  class="x-nav">

    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div id="container" class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">


                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="aa()">
                        <i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn" onclick="window.location.reload()">
                        <i class="layui-icon" ></i>全部留言</button>
                    <button class="layui-btn" @click="checked(1)">
                        <i class="layui-icon" ></i>未回复留言</button>
                    <button class="layui-btn" @click="checked(2)">
                        <i class="layui-icon" ></i>我回复的留言</button>
                    <button class="layui-btn" @click="checked(3)">
                        <i class="layui-icon" ></i>屏蔽的留言</button>
                <!-- 未发货表格页面开始 -->
                <div class="layui-card-body ">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="width: 10px;">
                                <input type="checkbox" name="" lay-skin="primary" id="aagroup">
                            </th>
                            <th style="width: 5px">序号</th>
                            <th style="width: 10px">留言用户</th>
                            <th style="width: 500px;">留言内容</th>
                            <th style="width: 500px;">回复内容</th>

                        </thead>
                        <tbody>
                        <tr v-for="(t,index) in comments">
                            <td style="width: 10px;">
                                <input type="checkbox" name="aasigle" lay-skin="primary" class="cb" :value="t.cid">
                            </td>
                            <td style="width: 5px">{{(cpage-1)*10+index+1}}</td>
                            <!--该列显示用户名字-->
                            <td style="width: 10px">{{t.uname}}</td>
                            <!--该列显示用户的留言-->
                            <td style="width: 500px"> {{t.ccontent}}</td>
                            <!--该列输入管理员回复的留言-->
                            <td style="width: 500px;" >
                            <span v-if="t.replystatus==1">等待回复</span>
                            <span v-if="t.replystatus==2">{{t.commentReply&&t.commentReply.rcontent}}</span>
                            <span v-if="t.replystatus==3">已屏蔽</span></td>
                            <td class="td-manage">
                                <div name="statusDiv" v-if="t.replystatus==1">
                                    <button  name="status" style="float: left" class="layui-btn" @click="toadd(2,t.cid,t.ccontent,t.uno)" >
                                        <i class="layui-icon"></i>回复</button>
                                    <button  name="status" style="float: left"  class="layui-btn"  @click="update(3,t.cid)">
                                        <i class=layui-icon" ></i>屏蔽</button>
                                </div>
                                <div name="statusDiv" v-if="t.replystatus==2">
                                    <button  name="status" class="layui-btn" >
                                        <i class="layui-icon"></i>已回复</button>
                                </div>
                                <div name="statusDiv" v-if="t.replystatus==3">
                                    <button  name="status" class="layui-btn" @click="update(1,t.cid)">
                                        <i class="layui-icon"></i>解除屏蔽</button>
                                </div>
                            </td>
                            </p>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!--内容表格页面结束-->
                <div class="layui-card-body ">
                    <div class="page">
                        <div >
                            <a  @click="go(1)" >首页</a>
                            <a  @click="go(2)" href="javascript:">上一页</a>
                            <a  @click="go(3)" href="javascript:">下一页</a>
                            <a @click="go(4)" href="javascript:">末页</a>
                            <a class="num" href="javascipt:" >{{cpage}}/{{tpage}}</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="toadd">
        <form class="layui-form" id="newsform" action="" style="width: 500px;height: 400px;">
            <div class="layui-form-item">
                <label class="layui-form-label">留言内容</label>
                <div class="layui-input-block" id="usernotice">

                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">回复对方</label>
                <div class="layui-input-block">
                    <textarea id="new2" name="rContent" placeholder="请输入内容" class="layui-textarea" style="height: 300px"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" >
                    <button class="layui-btn" type="button"  @click="add()">回复</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--container结束-->
</body>
<script>
    layui.use('table',function () {
        var table =layui.table;
        table.render();
    })
</script>
<!--实现批量删除功能-->
<script>
    function aa(){
        confirm("确认删除所有留言吗");
        var inp=$(".cb");
        var inpvaule=new Array();//定义一个变量存放被选数据的id
        for (var i = 0; i <inp.length ; i++) {
            if($(inp[i]).prop("checked")==true){//如果被选中
                inpvaule.push(inp[i].value);
                //$(inp[i]).prop("checked",this.checked);
                console.log(inp[i]);
            }
        }
        console.log(inpvaule);
        $.post(//发送请求，批量删除
            "/delbatchnews",
            {"inpvaule":inpvaule},
            function (res) {
                if(res!=0){
                    layer.msg("删除成功");
                    window.location.reload();
                }
            }
        )
    }
</script>
<script>
    const app={
        data(){
            return {
                pageInfo:null,
                cpage:null,
                tpage:null,
                limit:null,
                comments:null//新闻
            }
        },
        //自定义事件
        methods:{
            /*
            * 回复留言弹窗 得到留言id,回复的用户编号
            * */
            toadd(status,cid,ccontentresourse,uno){
                cId=cid;
                ccontent=ccontentresourse;
                uNo=uno;
                var html="<input value='"+cId+"' style='display: none;' type='text' id='new1' name='cId' required  lay-verify='required' placeholder='' autocomplete='off' class='layui-input'>";
                   html+="<input disabled='disabled' type='text' id='new3'  required  lay-verify='required' placeholder='"+ccontent+"' autocomplete='off' class='layui-input'>";
                html+="<input style='display: none;' type='text' id='new4' value='"+ccontent+"' name='ccontent'  required  lay-verify='required'  autocomplete='off' class='layui-input'>";
                html+="<input value='"+uNo+"' type='text' name='uNo' id='new5' style='display:none;' required  lay-verify='required' class='layui-input'>";
                   $("#usernotice").html(html);
                layer.open({
                    type:1,
                    content:$("#toadd"),
                    area:['600px','500px']
                })
            },
            /*
            * 增加回复内容
            * */
            add(){
                layui.form.render();
                var uNo=$("#new5").val();
                console.log("uNo="+uNo);
                var cId=$("#new1").val();
                console.log("cId="+cId);
                var ccontent=$("#new4").val();
                console.log("ccontent:"+ccontent);
                var rcontent=$("#new2").val();
                console.log("rcontent:"+rcontent);
                if(rcontent==null||rcontent==""){
                    layer.msg("回复内容不能为空！");
                    return;
                }else {
                    $.ajax({
                        url: "/adminaddcomreply",
                        data:$("#newsform").serialize(),
                        success: function (res) {
                            if (res == 1) {
                                layer.close(layer.index);
                                layer.msg("增加成功");
                                window.location.reload();
                            } else {
                                layer.msg("增加失败");
                            }
                        }
                    })
                }
                //  return false;
            },
            //已回复
            update(id,cid){
                $.ajax({
                    url:"/updatereplystatus",
                    data:{"replystatus":id,"cId":cid},
                    success:function (res) {
                        if(res==1){
                            layer.msg("修改成功");
                            //   window.location.reload();
                            window.location.reload();
                        }
                    }

                })
                return false;
            },

            //查询已回复留言
            checked(checkedid){
                var _self=this;
                $.post(
                    "/admingetcommentbystatus",
                    {"page":_self.cpage,"limit":_self.limit,"status":checkedid},
                    function (res) {
                        _self.pageInfo=res;
                        _self.comments=res.list;
                        _self.cpage=res.pageNum;
                        _self.tpage=res.pages;
                        console.log(_self.comments);
                    }
                )

            }

        },
        //加载事件--请求状态为0 加载所有留言
        mounted:function () {
            var _self=this;
            $.post(
                "/admingetcommentbystatus",
                {"page":_self.cpage,"limit":_self.limit,"status":0},
                function (res) {
                    _self.pageInfo=res;
                    _self.comments=res.list;
                    _self.cpage=res.pageNum;
                    _self.tpage=res.pages;
                    console.log("服务器响应的回复信息："+_self.comments);
                }

            )

        }
    }
    var vue=Vue.createApp(app);
    vue.mount("#container");
</script>

<!--实现全选功能-->
<script type="text/javascript">
    window.onload = function() {
        var btn = document.getElementById("aagroup");
        btn.onclick = function() {
            var flag = this.checked;
            var items = document.getElementsByName("aasigle");
            for (var i = 0; i < items.length; i++) {
                items[i].checked = flag;//将所有item的状态设为全选按钮的状态
            }
        }


        var items = document.getElementsByName("aasigle");
        for (var i = 0; i < items.length; i++) {
            items[i].onclick = function() {//对每个item设置点击
                var number = 0;//记录选中的个数
                for (var j = 0; j < items.length; j++){
                    if (items[j].checked) {
                        number++;
                    }
                }
                document.getElementById("aagroup").checked = (items.length == number);
            }
        }
    }
</script>
</html>